<div id="map-canvas">

   <div id="white_thingy">
      <div id="white-thingy-inside">
      PRIVATE EYES
      </div>
    </div>

    <div id="moon-man">
      <img src="spyguy.png">
    </div>

    <div id="explanatory_text_container">
       <div id="explanatory_text">See the most popular porn search terms by country. <br><br><span style="font-size: 17px;"></div>
    </div>
  <div id ="arrows-div" >
    <div id="left-arrow">
      <%= image_tag("arrow-left.png") %>
    </div>
    <div id="right-arrow">
      <%= image_tag("arrow-right.png") %>
    </div>
  </div>
  <div id="private-eye-icon"></div>
</div>

